.login-form {
  max-width: 350px;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 10%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.username {
  max-width: 350px;
  margin-left: 20%;
  margin-right: auto;
  margin-top: 10%;
}
